@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: dosis;
  src: url(../static/Dosis-Bold.ttf);
}

html{
  scroll-behavior: smooth;
}

.font-dosis{
  font-family: dosis;
}

.animaLinha{
  animation: linha 2s ease-in-out;
  /* animation-delay: 1s; */
  /* width: 240px; */
}

@keyframes linha {
  0%{
    width: 140px;
  }
  100%{
    width: 240px;
  }
}

.renderiza{
  animation: rend 2s ease;
}

@keyframes rend {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}