@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: dosis;
  src: url(../static/Dosis-Bold.ttf);
}

.font-dosis{
  font-family: dosis;
}

.animaSeta{
  animation: seta 1s infinite;
}

@keyframes seta {
  0%{
    padding-top: 0px;
  }
  50%{
    padding-top: 50px;
  }
  100%{
    padding-top: 0px;
  }
  
}